.icon-link {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 8px;
    border-radius: 8px;
    cursor: pointer;
    height: 32px;
    width: 32px;
}

.icon-link:hover {
    transform: scale(1.15);
}