/* Estilos base */
#landing-header {
    padding: 0.75rem 0.5rem;
}

#landing-header ul li a {
    font-size: 0.75rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

/* Media Query para pantallas de 475px*/
@media (min-width: 475px) {
    #landing-header {
        padding: 0.75rem 2.5rem;
    }

    #landing-header ul li a {
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
}