@import './Components/Commons/styles/cardBlock.css';
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
.App {
    background-image: url("../public/imgs/background_dragon_1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 100vh;
    height: 100%;
}

.App__Body {
    /* padding-top: 60px;
    padding-bottom: 60px; */
    display: flex;
    flex-direction: column;
    
}

.letter {
    font-family: "Wallpoet", sans-serif;
    font-weight: 400;
    font-style: normal;
}