@import "/src/Components/Commons/styles/variables.scss";

.button-link {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
}

.primary {
    color:$orange-primary;
    background-color:$black-primary;
}

.secondary {
    color:#fafafa;
    background-color:$black-primary;
}