.button-link {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
}

.primary {
    color:#ff8b5a;
    background-color:#161616;
}

.secondary {
    color:#fafafa;
    background-color:#161616;
}